model/vitb16 filter=lfs diff=lfs merge=lfs -text
model/vitl16 filter=lfs diff=lfs merge=lfs -text
model/vitb16/eval/training_12499 filter=lfs diff=lfs merge=lfs -text
model/vitb16/eval/training_62499 filter=lfs diff=lfs merge=lfs -text
model/vitb16/eval/training_87499 filter=lfs diff=lfs merge=lfs -text
model/vitb16/eval/training_99999 filter=lfs diff=lfs merge=lfs -text
model/vitb16/eval/training_49999 filter=lfs diff=lfs merge=lfs -text
model/vitb16/eval/training_74999 filter=lfs diff=lfs merge=lfs -text
model/vitb16/eval/training_112499 filter=lfs diff=lfs merge=lfs -text
model/vitb16/eval/training_124999 filter=lfs diff=lfs merge=lfs -text
model/vitb16/eval/training_24999 filter=lfs diff=lfs merge=lfs -text
model/vitb16/eval/training_37499 filter=lfs diff=lfs merge=lfs -text
model/vitl16/eval/training_12499 filter=lfs diff=lfs merge=lfs -text
model/vitl16/eval/training_124999 filter=lfs diff=lfs merge=lfs -text
model/vitl16/eval/training_49999 filter=lfs diff=lfs merge=lfs -text
model/vitl16/eval/training_99999 filter=lfs diff=lfs merge=lfs -text
model/vitl16/eval/training_112499 filter=lfs diff=lfs merge=lfs -text
model/vitl16/eval/training_24999 filter=lfs diff=lfs merge=lfs -text
model/vitl16/eval/training_37499 filter=lfs diff=lfs merge=lfs -text
model/vitl16/eval/training_62499 filter=lfs diff=lfs merge=lfs -text
model/vitl16/eval/training_74999 filter=lfs diff=lfs merge=lfs -text
model/vitl16/eval/training_87499 filter=lfs diff=lfs merge=lfs -text
feature/final_img_features_array.npy filter=lfs diff=lfs merge=lfs -text
feature/vits14_pretrained.npy filter=lfs diff=lfs merge=lfs -text
